{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Enclyclopedia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="/" class="img logo rounded-circle mb-5"
                    style="background-image: url({%  static 'images/wikiimage.png' %})">
                </a>

                {% block nav %}
                {% endblock %}

                <div class="footer">

                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <div>
                        <form class="needs-validation form-inline" method="POST" id="form" action="/search"
                            enctype="multipart/form-data">
                            {% csrf_token%}
                            <div>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="heading" list="topic"
                                        placeholder="Searh Topic" />
                                    <datalist id="topic">
                                        {% for d in dataTopics %}
                                        <option value="{{d.heading}}"> {{d.heading}}</option>
                                        {% endfor %}

                                    </datalist>

                                    <div class="input-group-append">
                                        <button class="btn btn-dark btn-primary" type="submit">Search</button>

                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>